*
{
    box-sizing: border-box;
    font-family: Raleway,sans-serif;
}
body
{
    margin: 50px;

}

header
{
    display: flex;
    flex-direction: column;
}
.rechercher h1
{
    font-size: 22px;
}
.rechercher p
{
   font-weight: 450;
}
.topofpage
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 30px;
    
}
.topofpage img
{
    height: 45px;
}
.topofpage ul
{
  display: flex;
  list-style: none;
}
.topofpage li 
{
   margin: 0px 18px 0 35px;
}
.topofpage a 
{
    text-decoration: none;
}
.searchbar
{
    display: flex;
           
}
.searchbar i
{
    border: 0.1px solid ;
    border-radius: 15px 0 0 15px;
    padding: 1rem;
    background-color: #F2F2F2;
}
.searchbar button
{
     color: white;
     background-color: #0065FC;
     border-radius: 0 20px 20px 0;
     border-style: none;
     font-size: 18px;
     font-weight: bold;
     padding: 20px;   
}
.searchbar input 
{
    color: ;  
      
}

    