*
{
    box-sizing: border-box;
    font-family: Raleway,sans-serif;
}
header
{
    display: flex;
    flex-direction: column;
}
.hautdepage
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hautdepage img
{
     height: 80px;
}
.hautdepage ul
{
  display: flex;
  list-style: none;
}
.hautdepage li
{
   margin: 0 10px 0 35px;
}
.hautdepage a {
    text-decoration: none;
}